db.sqlite3
WordAssessment/__pycache__/__init__.cpython-36.pyc
WordAssessment/__pycache__/__init__.cpython-36.pyc
WordAssessment/__pycache__/__init__.cpython-36.pyc
WordAssessment/__pycache__/settings.cpython-36.pyc
WordAssessment/__pycache__/wsgi.cpython-36.pyc
words/__pycache__/urls.cpython-36.pyc
words/__pycache__/views.cpython-36.pyc
words/__pycache__/__init__.cpython-36.pyc
WordAssessment/__pycache__/settings.cpython-36.pyc
WordAssessment/__pycache__/__init__.cpython-36.pyc
db.sqlite3
WordAssessment/__pycache__/settings.cpython-36.pyc
